.gradle
local.properties
.idea
.idea/workspace.xml
.idea/libraries
.DS_Store
build
captures
gradle
g
x
*.iml
gradlew
gradlew.bat
build.gradle
gradle.properties
settings.gradle
app/build.gradle
app/*.iml
